<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header class="bg-emerald-800 text-3xl w-full text-center text-white p-4"><h1>NOTES</h1></header>
    <div class="min-h-screen bg-zinc-900 p-10  ">
        <a class="text-blue-500 inline-block mb-10" href="/">go back</a>
        <h1 class="text-white text-3xl "><%= fileName %></h1>
        <pre class=""><p class="text-zinc-400 text-xl mt-3 font-light tracking-tighter "><%= fileData %></p></pre>
        </div>
        
    </div>
    <script src="/javascript/script.js"></script>
</body>
</html>